@page "/search"
@using MudBlazor
@using Spellbox.Model

<MudAutocomplete T="OracleCardProj" 
    Label="Search..."
    Dense="true"
    Clearable="true"
    ResetValueOnEmptyText="true"
    MinCharacters="2"
    DebounceInterval="300"
    MaxItems="20"
    SearchFunc="@OracleSearchAsync" 
    ToStringFunc="@(c => c.Name)"
    ValueChanged="@OracleCardSelect"
    CoerceText="true"
    CoerceValue="false">

    <ItemTemplate Context="card">
        <div class="d-flex flex-column">
            <span class="fw-semibold">@card.Name</span>
            <span class="mud-text mud-text-caption">@card.TypeLine</span>
        </div>
    </ItemTemplate>
    
    <NoItemsTemplate>
        <MudText Typo="Typo.caption">
            No cards found
        </MudText>
    </NoItemsTemplate>
    
</MudAutocomplete>

@if (searchCard.Name is not null)
{
    searchVariants = searchCard.Variants.ToList();

    @if (chosenVariant is null)
    {
        chosenVariant = searchVariants.First();
    }
    
    <MudSelect Label="Variant" @bind-Value="chosenVariant" Placeholder="Pick variant...">
        @foreach (var variant in searchVariants)
        {
            <MudSelectItem Value="@variant">
                @String.Format("{0} ({1}) - {2}", variant.SetCode.ToUpper(), variant.CollNum, variant.SetName)
            </MudSelectItem>
        }
    </MudSelect>

    <MudGrid Spacing="2">

        <MudItem xs="4">
            <MudImage Src=@(chosenVariant.Images[0]) Width="256" Height="null" Alt="IMG" Style="border-radius: 16px;"/>
        </MudItem>

        <MudItem xs="8">

        </MudItem>

    </MudGrid>

    @foreach (var face in searchCard.Faces.OrderBy(f => f.Order))
    {
        <MudPaper Class="pa-2 mb-2" Elevation="0" Outlined="true">

            <MudText Typo="Typo.subtitle1" Class="font-weight-bold">
                @face.Name
            </MudText>

            <MudDivider Class="my-1" />

            <MudText Typo="Typo.caption">
                @face.TypeLine
            </MudText>

            <MudDivider Class="my-1" />

            <MudText Typo="Typo.body2" Style="white-space: pre-line;">
                @face.OracleText
            </MudText>

        </MudPaper>
    }

}

@inject CollectionDbContext collectionContext
@inject OracleDbContext oracleContext
@code {

@* 
    protected override async Task OnInitializedAsync()
    {
        StateHasChanged();
        await Task.Yield();

        //oracleCards = await oracleContext.OracleCards.ToListAsync();
        //cardFaces = await oracleContext.CardFaces.ToListAsync();
        //cardVariants = await oracleContext.CardVariants.ToListAsync();
    } *@

    public record OracleCardProj
    (
        Guid OracleId,
        string Name,
        string TypeLine
    );

    public OracleCard searchCard { get; set; } = new OracleCard();
    List<CVariant> searchVariants = new List<CVariant>();
    public CVariant? chosenVariant { get; set; }

    private async Task<IEnumerable<OracleCardProj>> OracleSearchAsync(string value, CancellationToken token)
    {
        if (string.IsNullOrWhiteSpace(value) || value.Length < 2)
            return Array.Empty<OracleCardProj>();

        return await oracleContext.OracleCards
            .AsNoTracking()
            .Where( c =>
                EF.Functions.Like(c.Name, $"{value}%") ||
                EF.Functions.Like(c.Name, $"% {value}%"))
            .OrderBy(c =>
                EF.Functions.Like(c.Name, $"{value}%") ? 0 :
                EF.Functions.Like(c.Name, $"% {value}%") ? 1 :
                2)
            .ThenBy(c => c.Name)
            .Select(c => new OracleCardProj(
                c.OracleId,
                c.Name,
                c.TypeLine
            ))
            .Take(20)
            .ToListAsync();
    }

    private async void OracleCardSelect(OracleCardProj proj)
    {
        if (proj is null)
            return;

        // Clear chosen variant
        chosenVariant = null;

        searchCard = await oracleContext.OracleCards
            .Include(c => c.Variants)
            .Include(c => c.Faces)
            .SingleAsync(c => c.OracleId == proj.OracleId);
    }

}